.dialogs {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.dialogs a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 768px) {
  .dialogs {
    display: block;
    /* grid-template-columns: 2fr 10fr; */
  }
}

.dialogs .active {
  color: gold;
}

.dialogs .message {
  padding: 10px;
  display: flex;
}

.dialogs .message img {
  width: 30px;
}

.dialogs .message > div {
  padding-right: 10px;
}

.messageItem {
  padding: 5px;
  width: 100%;
  border: 1px solid rgb(22, 90, 216);
  border-radius: 5px;
}

/* .absolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
} */

.dialogs .newmessage {
  padding: 10px;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.textarea {
  height: 20px;
  border: 1px solid rgb(22, 90, 216);
  border-radius: 5px;
  padding: 5px;
  width: 95%;
}
.newmessage > button {
  padding: 5px;
  width: 100%;
}
