.nav {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .nav {
    /* grid-area: n; */
    display: block;
    width: 100%;
  }
}

.nav a {
  padding: 10px;
  display: block;
  text-decoration: none;
  padding-bottom: 15px;
}

.item a.active {
  color: gold;
}

.friends {
  display: flex;
  justify-content: space-around;
}
.friends > div {
  padding: 10px;
  text-align: center;
}

.friends img {
  width: 50px;
}
